<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter Clone - Final</title>
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="brand.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />

</head>

<body>

  <!-- sidebar starts -->
  <div class="sidebar">
    <img src="./SVG/unifylogo.svg" class="logo" />
    <div class="sidebarOption active">
      <img class=" menu__items__icons " src="./SVG/home.svg" />
      <h2>Home</h2>
    </div>

    <div class="sidebarOption">
      <img class="menu__items__icons  " src="./SVG/discussions.svg" />
      <h2>Discussions</h2>
    </div>



    <div class="sidebarOption">
      <img class="menu__items__icons  " src="./SVG/profile.svg" />
      <h2>Profile</h2>
    </div>
    <div class="sidebarOption">
      <img class=" menu__items__icons " src="./SVG/clubs.svg" />
      <h2>Find clubs</h2>
    </div>
    <div class="sidebarOption">
          <img class="menu__items__icons" src="./SVG/event.svg" />
          <h2>Event</h2>
        </div>

    <div class="sidebarOption">
      <img class="menu__items__icons  " src="./SVG/carpooling.svg" />
      <h2>Carpooling</h2>
    </div>
    <ul class="tree">
      <li>
        <details>
          <summary>
            <div class="sidebarOption" id="study" tabindex="0" name="study">
              <img class="menu__items__icons  " src="./SVG/study.svg" />
              <h2>Study with</h2>
            </div>
          </summary>
          <ul>
            <div class="lefty">
              <li>
                <div class="sidebarOption">
                  <img class="menu__items__icons  " src="./SVG/tutor.svg" />
                  <h4>Tutor</h4>
                </div>
              </li>
              <li>

                <div class="sidebarOption">
                  <img class="menu__items__icons  " src="./SVG/group.svg" />
                  <h4>Group</h4>
                </div>
              </li>
            </div>


        </details>
      </li>
    </ul>

    <div class="sidebarOption">
      <img class="menu__items__icons  " src="./SVG/courses.svg" />
      <h2>Courses</h2>
    </div>

    <div class="sidebarOption">
      <img class="menu__items__icons  " src="./SVG/help.svg" />
      <h2>Help</h2>
    </div>

    <button class="sidebar__tweet">Discuss</button>
  </div>
  <!-- sidebar ends -->

  <!-- feed starts -->
  <div class="feed">
    <div class="feed__header">
      <h1>Home</h1>
      <form action="post" class="search_bar">

        <input type="text" placeholder="Search In Unify " name="q">
        <button type="submit" class="search_btn">
          <img src="./SVG/search.svg" alt="Search">
        </button>

      </form>
    </div>

    <!-- tweetbox starts -->
    <div class="tweetBox">
      <form>
        <div class="tweetbox__input">
          <div clas="tweetbox_input_header">
            <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
            <label for="chat-channel">Select Chat Channels:</label>
            <select id="chat-channel" name="chat-channel" multiple>
              <option value="All_Channels">All Channels</option>
              <option value="General_Chat">General Chat</option>
              <option value="Area_Chat">Area Chat</option>
              <option value="University_Chat">University Chat</option>
              <option value="Class_Chat">Class Chat</option>
              <option value="Private_Chat">Private Chat</option>
            </select>
            <div id="selected-channels"></div>
          </div>
          <input type="text" placeholder="What's happening?" />
        </div>
        <button class="tweetBox__tweetButton">Post</button>
      </form>
    </div>
    <!-- tweetbox ends -->

    <!-- post starts -->
    <div class="post">
      <div class="post__avatar">
        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
      </div>

      <div class="post__body">
        <div class="post__header">
          <div class="post__headerText">
            <h3>
              Somanath Goudar
              <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                </span>@somanathg</span>
            </h3>
          </div>
          <div class="post__headerDescription">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <img src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg" alt="" />
        <div class="post__footer">
          <span class="material-icons"> repeat </span>
          <span class="material-icons"> favorite_border </span>
          <span class="material-icons"> publish </span>
        </div>
      </div>
    </div>
    <!-- post ends -->

    <!-- post starts -->
    <div class="post">
      <div class="post__avatar">
        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
      </div>

      <div class="post__body">
        <div class="post__header">
          <div class="post__headerText">
            <h3>
              Somanath Goudar
              <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                </span>@somanathg</span>
            </h3>
          </div>
          <div class="post__headerDescription">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <img src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg" alt="" />
        <div class="post__footer">
          <span class="material-icons"> repeat </span>
          <span class="material-icons"> favorite_border </span>
          <span class="material-icons"> publish </span>
        </div>
      </div>
    </div>
    <!-- post ends -->
  </div>
  <!-- feed ends -->

  <!-- widgets starts -->






  <!-- widgets ends -->
  <script src="./js/home.js"></script>
</body>

</html>
