body {
    background: #f0bfbf ; 
    margin-top: 20px;
}

.ui-w-80 {
    width : 80px ;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: rgb(10, 9, 9) !important;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: rgb(192, 136, 136) ;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : rgb(194, 99, 92);
    color       : #e9a1a1;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #e9a1a1;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold ;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent ;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) ;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 ;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) ;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 ;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) ;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #e9a1a1 ;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 ;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) ;
}